@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  background-image: linear-gradient(
    to right,
    rgba(250, 117, 248, 0.28) 1%,
    rgba(250, 117, 248, 0) 90%
  );
}

body::-webkit-scrollbar {
  width: 0;
}

.shadow {
  box-shadow: 0px 18.01px 36.02px 0px rgba(14, 12, 71, 0.15);
}

.shadow-page-2 {
  box-shadow: 0px 12.74px 25.48px 0px rgba(14, 12, 71, 0.15);
}

.gradient-text {
  background: linear-gradient(90deg, #facc69 0%, #ff91a5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
